.contenedor-inicio {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
}

.contenedor-inicio h1, h3 {
  font-family: var(--titles-font);
  color: var(--color-font-dark);
}

@media screen and (min-width: 600px) {
  .contenedor-inicio {
    padding: 1em;
  }
}