#contenedor-acciones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  /* background-color: red; */
}

#pagos-info {
  width: 80%;
  padding: 0.5em;
  display: flex;
  gap: 2em;
}

#pagos-entradas,
#pagos-total {
  color: hsl(240, 38%, 64%);
  font-size: 0.75em;
}

#pagos-entradas-valor,
#pagos-total-valor {
  color: hsl(240, 38%, 34%);
  font-size: 1em;
}

#pagos-botones {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#boton-add {
  background-color: rgb(84, 144, 84);
  color: white;
  border: 1px solid;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  font-size: 1.5rem;
}

#boton-add:hover {
  cursor: pointer;
  background-color: hsl(120, 26%, 35%);
}

#boton-add:active {
  background-color: hsl(120, 26%, 55%);
}

#contenedor-filtros {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 0;
  width: 90%;
  margin: 0 auto;
}

.filtro {
  margin: 0px 6px;
  padding: 10px;
  box-sizing: border-box;
}

.filtro label {
  font-size: 0.8rem;
  margin-right: 0.5em;
}

.filtro select {
  width: 16ch;
  padding: 2px;
  /* text-align: center; */
  border-radius: 4px;
  border: 1px solid #9d9d9d;
  font-family: 'Work Sans', sans-serif;
}

.filtro select:hover {
  cursor: pointer;
}

.filtro select:focus {
  outline: 1px solid #454599;
  border: 1px solid #454599;
}

#select-tipo {
  width: 10ch;
}

#select-mes,
#select-anio {
  /* width: 60px; */
  text-align: center;
  font-size: 0.8em;
}

#select-mes {
  width: 14ch;
}

#select-anio {
  width: 9ch;
}

#filtroObs {
  width: 16ch;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #9d9d9d;
  font-family: 'Work Sans', sans-serif;
}

#filtroObs:focus {
  outline: 1px solid #454599;
  border: 1px solid #454599;
}


#contenedor-paginas {
  width: 90%;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  gap: 1em;
  /* background-color: red; */
}

#tabla-pagos {
  border-collapse: collapse;
  /* max-width: 90%; */
  height: fit-content;
  margin: 10px auto;
  font-size: 0.85rem;
}

#tabla-pagos tr {
  height: 20px;
}

#tabla-pagos th {
  padding-top: 6px;
  padding-bottom: 6px;
}

#tabla-pagos th, 
#tabla-pagos td {
  /* padding: 4px 16px; */
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#tabla-pagos th {
  background-color: #454599;
  border: 1px solid hsl(240, 38%, 44%);
  color: #eee;
}

/* Columna 'Observaciones' */
#tabla-pagos th:nth-child(6) {
  text-align: left;
}

#tabla-pagos tr:nth-child(odd) {
  background-color: #ddd;
}
#tabla-pagos tr:nth-child(even) {
  background-color: #eee;
}
#tabla-pagos tr:hover {
  background-color: #ccc;
  /* cursor: pointer; */
}



.boton {
  /* width: 150px; */
  padding: 5px 20px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #ddd;
}

.boton:hover{
  cursor: pointer;
  background-color: #bbb;
}

.boton-tabla {
  margin: 0 4px;
  height: 28px;
  width: 28px;
  border: none;
  border-radius: 50%;
  /* border-radius: 5px; */
}
.boton-tabla:hover {
  cursor: pointer;
}

.boton-delete {
  background-color: #b87d7d;
  color: white;  
}
.boton-delete:hover {
  background-color: #ac6767;
}

.boton-update {
  background-color: #77b3c8;
  color: white;
}
.boton-update:hover{ background-color: #61a7bf;}
.boton-update:active{ background-color: #8ec0d2;}

.boton-paginas {
  padding: 5px 20px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #ddd;
}
.boton-paginas:hover {
  cursor: pointer;
}
.boton-paginas:disabled {
  border: 1px solid #AAA;
}

.indicador-paginas {
  background-color: white;
  padding: 4px 1em;
  border-radius: 10px;
  outline: 1px solid #61a7bf;
  user-select: none;
}

.loader-pagos, .loader-pagos:before, .loader-pagos:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader-pagos {
  display: block;
  color: var(--loader-color);
  font-size: 7px;
  position: relative;
  top: 60px;
  left: 50%;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader-pagos:before,
.loader-pagos:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader-pagos:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader-pagos:after {
  left: 3.5em;
}

/* Media queries */
@media screen and ( max-width: 600px ) {
  .contenedor-small-size {
    display: block;
  }
  #contenedor-tabla {
    display: none;
  }

  #contenedor-filtros {
    flex-flow: column wrap;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 1em;
  }

  .filtro {
    margin: 0;
    width: 100%;
  }

  .filtro select {
    float: right;
  }

  #filtroObs {
    float: right;
  }
}

@media screen and ( min-width: 600px ) {
  .contenedor-small-size {
    display: none;
  }
}

@media screen and ( max-width: 1000px ) {
  #tabla-pagos {
    font-size: 0.85rem;
    /* font-size: 0.5rem; */
  }
  
  #tabla-pagos th:nth-child(3) {
    background-color: red;
    display: none;
  }
  #tabla-pagos td:nth-child(3) {
    background-color: red;
    display: none;
  }
  .col-obs {
    width: 20%;
  }

}

@media screen and ( min-width: 1200px ) {

  #tabla-pagos {
    width: 90%;
  }

  #contenedor-acciones {
    width: 90%;
  }

  #pagos-entradas, #pagos-total {
    font-size: 0.9em;
  }

  #pagos-entradas-valor, #pagos-total-valor {
    font-size: 1.5em;
  }

}
