.boton {
  /* width: 150px; */
  padding: 5px 20px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #ddd;
}

.boton:hover{
  cursor: pointer;
  background-color: #bbb;
}

.boton-tabla {
  margin: 0 4px;
  height: 28px;
  width: 28px;
  border: none;
  border-radius: 50%;
  /* border-radius: 5px; */
}
.boton-tabla:hover {
  cursor: pointer;
}

.boton-delete {
  background-color: #b87d7d;
  color: white;  
}
.boton-delete:hover {
  background-color: #ac6767;
}

.boton-update {
  background-color: #77b3c8;
  color: white;
}
.boton-update:hover{ background-color: #61a7bf;}
.boton-update:active{ background-color: #8ec0d2;}

.loader-pagos, .loader-pagos:before, .loader-pagos:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader-pagos {
  display: block;
  color: var(--loader-color);
  font-size: 7px;
  position: relative;
  top: 60px;
  left: 50%;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader-pagos:before,
.loader-pagos:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader-pagos:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader-pagos:after {
  left: 3.5em;
}

/* Media queries */
@media screen and ( max-width: 600px ) {
  #contenedor-tabla {
    display: none;
  }
}

/* @media screen and ( min-width: 600px ) {
  
} */

@media screen and ( max-width: 1000px ) {
  #tabla-pagos {
    font-size: 0.85rem;
    /* font-size: 0.5rem; */
  }
  
  #tabla-pagos th:nth-child(3) {
    background-color: red;
    display: none;
  }
  #tabla-pagos td:nth-child(3) {
    background-color: red;
    display: none;
  }
  .col-obs {
    width: 20%;
  }

}

@media screen and ( min-width: 1200px ) {
  #tabla-pagos {
    width: 90%;
  }
}
